@charset "utf-8";
/*** 	Reset	***/
html, body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, div, span, form, fieldset  { 
	margin: 0;
	padding: 0;
	font-size:100%;
	vertical-align: baseline;
	border: 0;
	outline: 0;
	background: transparent;
}

body {
	border:1px solid #000;
	background-color: #f7f7f7;
	min-width:60em;
	max-width:80em;
	width:100%;
	margin:0 auto;

}

img#sample {
	float:left;
	border:1px solid #000;
	margin:2em;
}

img#linkicon {
	margin-left:0.2em;
}

div#pgcontent {
	padding:0.5em 3em;
}

div#searchText {
	border-bottom:1px solid #888;
	margin-bottom:2em;
	padding-top:1em;
}

div#searchText input {
	display:block;
	margin:0 auto;
}

div#searchText input[type="text"] {
	width:40%;
	font-size:1.5em;
	height:1.6em;
	border-radius:0.3em;
}

div#searchText input[type="submit"] {
	width:8%;
	font-size:1.2em;
	margin:1em auto;
}

div#searchResults {
	min-height:25em;
	position:relative;
}

div.resultitem {
	margin:1em 0 0 2em;
	border-bottom:1px solid #555;
	width:35%;
	padding-bottom:0.1em;
}

a.directlink {
	text-decoration:none;
}

a.alexalink img {
	border:none;
}

div.resultitem p.resultlink {
	font-size:1.3em;
}

div#pagenav {
	position:absolute;
	bottom:0.5em;
	left:7em;
	width:100%;
}

div.navigator {
	margin:1.5em auto 0.5em auto;
	width:38%;
}

div.navigator span {
	margin-right:0.2em;
}

div.totalpagesdisplay {
	margin:0 auto;
	width:33%;
}

div#footer {
	margin-top:0.5em;
	text-align:center;
       	height:1.5em;
	background-color:#036;
	color:#fff;
	border:1px solid #e8e8e8;
	border-top:none;
}

div.clearfloats { 
min-height:1px;
}

div.clearfloats:after { 
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}
